<section data-ng-controller="OrdersController">
  <div class="modal-header">
      <h3 class="modal-title">Order Info</h3>
  </div>
  <div class="modal-body">
    <div>Order ID {{order._id}}</div>
    <div>Date {{order.created | date:'medium'}}</div>
    <div>Order Status: {{order.order_status}}</div>
    <div>Tax : RS {{order.tax}}</div>
    <div>Total:RS {{order.grand_total}}</div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel($event)">Close</button>
  </div>
</section>
