<section id="entity-list"  data-ng-controller="OrdersController" data-ng-init="find()">
  <div id="list">
    <ul class="orders unstyled">
      <li data-ng-repeat="order in orders">
        <h2>
          <a data-ng-href="#!/admin/orders/{{order._id}}" ng-click="open($event, order)">{{order._id}}</a>
        </h2>
        <span>{{order.created | date:'medium'}}</span> /
        <span>{{order.user.name}}</span>
      </li>
    </ul>
    <h1 data-ng-hide="!orders || orders.length">Sorry No orders placed still now.</h1>
  </div>
</section>
