<section data-ng-controller="CategoriesController" data-ng-init="entityFindAll()">
	<div class="collapse navbar-collapse navbar-ex1-collapse productMenu">
		<ul class="nav navbar-nav">
			<li class="active" data-ng-repeat="category in categories">
				<a class="btnCls" data-ng-href="#!/category/products/{{category._id}}">{{category.name}}</a>
			</li>			
		</ul>
	</div>
	<div data-ng-controller="ProductsController" data-ng-init="getCartCount()" id="angElement">
		<div class="cartDetails">
			<button type="button" class="btn btn-default" onClick="javascript:location.href='#!/viewCart'">
				<span class="glyphicon glyphicon-shopping-cart"></span> Cart ({{cartCount}})
			</button>
		</div>
	</div>
	<div class="clear"></div>
</section>