<div ng-include src="'meancommerce/views/categoryListing.html'"></div>
<div class="row">
	<ul class="hProductItems clearfix" data-ng-controller="ProductsController" data-ng-init="getProducts()">
		<li class="span3 clearfix" data-ng-repeat="product in products">
			<div class="thumbnail">
				<a href=""><img src="/meancommerce/assets/img/prod.png" alt=""></a>
			</div>
			<div class="thumbSetting">
				<div class="thumbTitle">
					<h3>
					<a href="#!/product/{{product._id}}" class="invarseColor">{{product.name}}</a>
					</h3>
				</div>
				<div class="thumbPrice">
					<span>Rs.{{product.price}}</span>
				</div>

				<div class="thumbButtons">
					<a class="btn btn-primary btn-small" role="button" data-ng-href="#!/product/{{product._id}}">
						View Details
					</a>
				</div>
			</div>
		</li>
        <li data-ng-hide="!products || products.length"><h1>No product found.</h1></li>
	</ul>
</div>
    