<div ng-include src="'meancommerce/views/categoryListing.html'"></div>
<section data-ng-controller="ProductsController" data-ng-init="getCartCount()" id="angElement">
	<div><a data-ng-href="#!/viewCart"> <img src="/meancommerce/assets/img/shoping_cart.png" width='24' height='16'>&nbsp;({{cartCount}}) </a></div>
</section>
<section data-ng-controller="ProductsController" data-ng-init="getProduct()">
	<h2>{{product.name}}</h2>
	<div class="row">
		<div class="col-md-3">
			<div><img src="/meancommerce/assets/img/prod.png"></div>
		</div>
		<div class="col-md-3">			
			<div><B>SKU:</B>{{product.sku}}</div>
			<div><B>Price:</B>${{product.price}}</div>  
			<div>{{product.content}}</div>  
			<div>{{product.user.name}}</div>    
			<div>
				<select ng-init="quantityValue=1" ng-model="quantityValue" ng-options="item for item in quantity">
				</select>
			</div>
			<br>
			<div>  
				<a class="btn btn-sm btn-primary" ng-click="addToCart(product);" onclick="setTimeout(updateCartCount, 1000);">
					<span class="ng-scope">Add To Cart</span>
				</a>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	function updateCartCount () {
		angScope = angular.element(document.getElementById('angElement')).scope();
		angScope.getCartCount();
	}
</script>
