<section data-ng-controller="CategoriesController" data-ng-init="find()">
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active" data-ng-repeat="category in categories">
				<a data-ng-href="#!/category/products/{{category._id}}">{{category.name}}</a>
			</li>			
		</ul>
	</div>
</section>
<section data-ng-controller="ProductsController" data-ng-init="getProducts()">
  <div>  
    <div class="row">
        <div class="col-md-4" data-ng-repeat="product in products">
          <div><img src="/meancommerce/assets/img/prod.png"></div>
		  <div><a data-ng-href="#!/products/{{product._id}}">{{product.name}}</a></div>
		  <div>{{product.content}}</div>
		  <div>${{product.price}}</div>
        </div>		
    </div>
  </div>
</section>
    