<div ng-include src="'meancommerce/views/categoryListing.html'"></div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th class="text-center">Price</th>
			<th class="text-center">Total</th>
		</tr>
	</thead>
	<tbody data-ng-controller="ProductsController" data-ng-init="getCartDetails()">
	     <tr data-ng-repeat="products in cartDetails">
	     	<td class="col-sm-8 col-md-6">
			<div class="media">
				<a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
				<div class="media-body">
					<h4 class="media-heading"><a data-ng-href="#!/product/{{products.product._id}}">{{products.product.name}}</a></h4>
					<span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
				</div>
			</div></td>
			<td class="col-sm-1 col-md-1" style="text-align: center">
			{{products.quantity}}
			</td>
			<td class="col-sm-1 col-md-1 text-center"><strong>Rs.{{products.product.price}}</strong></td>
			<td class="col-sm-1 col-md-1 text-center"><strong>Rs.{{(products.quantity)*(products.product.price)}}</strong></td>
	    </tr>
	    <tr>
			<td> &nbsp; </td>
			<td> &nbsp; </td>
			<td><h5>Subtotal</h5></td>
			<td class="text-center"><h5><strong>Rs.{{cartTotal}}</strong></h5></td>
		</tr>
		<tr>
			<td> &nbsp; </td>
			<td> &nbsp; </td>
			<td><h5>Estimated shipping</h5></td>
			<td class="text-center"><h5><strong>Rs.0</strong></h5></td>
		</tr>
		<tr>
			<td> &nbsp; </td>
			<td> &nbsp; </td>
			<td><h3>Total</h3></td>
			<td class="text-center"><h3><strong>Rs.{{cartTotal}}</strong></h3></td>
		</tr>
		<tr>
			<td> &nbsp; </td>
			<td> &nbsp; </td>
			<td>
			<a data-ng-href="#!/browseByCategories"><button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
			</button></a></td>
			<td>
			<a data-ng-href="#!/checkout"><button type="button" class="btn btn-success">
				Checkout <span class="glyphicon glyphicon-play"></span>
			</button></a></td>
		</tr>
		<div>{{cartTotal}}</div>
	</tbody>
</table>
