<section id="entity-list"  data-ng-controller="CategoriesController" data-ng-init="find()">
  <div id="list">
    <button data-ng-show="categories.length" class="btn btn-default" data-ng-click="entityCreate(false, true);">+ New category</button></a>
    <ul class="categories unstyled">
      <li data-ng-repeat="category in categories">
        <h2>
          <a data-ng-href="#!/admin/categories/{{category._id}}" ng-click="open($event, category)">{{category.name}}</a>
          <span data-ng-if="hasAuthorization(category)">
            <!--a class="btn" href="/#!/admin/categories/{{category._id}}/edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a-->
            <a class="btn" data-ng-click="entityUpdate(false, category);">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn" data-ng-click="remove(category);">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </span>
        </h2>
        <div>{{category.content}}</div>
        <span>{{category.created | date:'medium'}}</span> /
        <span>{{category.user.name}}</span>
      </li>
    </ul>
    <h1 data-ng-hide="!categories || categories.length">No categories yet. <br> Why don't you <a href="/#!/admin/categories/create">Create One</a>?</h1>
  </div>
</section>
